<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <title>Jose Carlos Junior</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    </head>
    <body class="subpage">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                    <div id="header-img-Logo">
                        <a href="index.html" class="logo">

                            <div style="vertical-align: baseline">
                                <img height="25px" weight="25px"src="{% static 'images/Logo.png'%}">
                                <strong>Python Programmer</strong> José Carlos Jr
                            </div>
                        </a>
                    </div>
                <nav id="nav">
                    <a href="index.html">Home</a>
                    <a href="generic.html">Achievements</a>
                    <a href="contact.html">Contact</a>
                </nav>
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>
        {% block content %} {% endblock %}
        <!-- Footer-->

        <!-- Scripts -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/skel.min.js"></script>
        <script src="static/js/util.js"></script>
        <script src="static/js/main.js"></script>

    </body>
</html>