{% extends "footer.html"%}
{% block casetop %}
{% load static %}


<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header>
				<div>
					<h1>Welcome to</h1>
					<h1>JJ-PROGRAMMER</h1>
				</div>
			</header>

			<div class="flex ">

				<div>
					<span class="icon fa-book"></span>
					<h3>My Achievements</h3>
					<p>from my_life import Story</p>
				</div>

				<div>
					<span class="icon fa-bullhorn"></span>
					<h3>Contact</h3>
					<p>contact me, para sermos mais feliz</p>
				</div>

				<div>
					<span class="icon fa-tasks"></span>
					<h3>Blog</h3>
					<p>A Python Blog</p>
				</div>

			</div>

			<footer>
				<a href="contact.html" class="button">Be investor</a>
			</footer>
		</div>
	</section>


<!-- Three -->
	<section id="three" class="wrapper align-center">
		<div class="inner">
			<div class="flex flex-2">
				<article>
					<div class="image round">
						<h1><b>Scapy</b></h1>
						<img height="240px" width="240px" src="{% static 'images/pic01.jpg' %}" alt="Pic 01" />
					</div>
					<header>
						<h3>Monitoring Networked<br /> Duplicates IPs</h3>
					</header>
					<p>
						Many network administrators and sysadmins encounter <br />
						connectivity problems in the environments they manage and<br />
						 for many times the problem is a simple duplicate IP causing all malaise. <br />
						Now we'll look at how to use lib collections scapy and defaultdict to monitor these IPs.
					</p>
					<footer>
						<a href="http://pythonclub.com.br/monitorando-ips-duplicados-na-rede.html" class="button">Learn More</a>
					</footer>
				</article>
				<article>
						<h1><b>Functional programming with Python # 0 - Leaving the comfort zone</b></h1>
					<div class="image round">
						<img src="{% static 'images/pic02.jpg' %}" alt="Pic 02" />
					</div>
					<header>
						<h3>Leaving the<br /> Comfort Zone</h3>
					</header>
					<p>
						Feel like a winner, if you got here, that means you want to learn more about  <br />
						the programming world. Learning new paradigms can bring you many positive things,<br />
						 as well as learning different languages, because paradigms and languages <br />
						 ​​transpose ways, structures and methods of implementation ... <br />
					</p>
					<footer>
						<a href="http://pythonclub.com.br/progrmacao-funcional-com-python-0.html" class="button">Learn More</a>
					</footer>
				</article>
			</div>
		</div>
	</section>
{% endblock %}
